input {
  font-family: 'Montserrat', sans-serif;
  padding: 9px;
  border-color: #000;
  border-width: 1px;
}

button {
  padding: 10px;
  border-color: #000;
  border-width: 1px;
  border-left: 0px;
  background: #fff;
}

button:hover {
  background: #c8c8c8;
}