@import url('https://fonts.googleapis.com/css?family=Exo+2');

h1 {
  font-family: 'Exo 2', sans-serif;
  font-size: 32px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
